<ngt-ambient-light [intensity]="5.5" />

<ngt-spot-light
  [position]="[10, 10, 10]"
  [intensity]="Math.PI"
  [angle]="0.3"
  [penumbra]="0.5"
  [decay]="2">
  <ngt-mesh [position]="[0, 0, 0]">
    <ngt-mesh-basic-material [color]="'red'" />
    <ngt-sphere-geometry [args]="[0.1, 32, 32]" />
  </ngt-mesh>
</ngt-spot-light>

<ngt-group [rotation]="[1.57, 0, 1.57]">
  <ngt-point-light [position]="[2, 2, 2]" [intensity]="Math.PI / 2" />
  <ngt-point-light [position]="[-2, 2, -2]" [intensity]="Math.PI / 2" />
  <ngt-point-light [position]="[0, 5, 0]" [intensity]="Math.PI" [decay]="2" />
</ngt-group>

<app-astronaut />

<ngt-orbit-controls
  *args="[camera(), glDomElement()]"
  [minPolarAngle]="Math.PI / 2"
  [maxPolarAngle]="Math.PI / 2"
  [enableZoom]="false" />
