<div
  class="bg-extend-backgroud-600 flex flex-col gap-2 rounded-b-lg rounded-t-3xl">
  <img
    [ngSrc]="design().imageUrl"
    [alt]="design().name"
    width="304"
    height="417"
    class="object-cover w-full h-auto" />

  <div class="flex flex-col gap-4 py-5 px-2 md:px-5">
    <div class="flex justify-between">
      <div class="flex flex-col gap-1">
        <h5 class="text-base font-bold md:text-xl">{{ design().name }}</h5>
        <p class="text-sm">Variant</p>
      </div>

      <p class="text-lg font-semibold md:text-xl">$55</p>
    </div>

    <a
      [routerLink]="cardUrl()"
      class="text-base py-3 px-5 rounded-full btn-fill block hover:text-extend-backgroud-300 transition-colors duration-300 w-full text-center border-2 border-extend-primary-900 text-extend-text-black"
      >Add To Cart</a
    >
  </div>
</div>
