<section class="py-16 px-5 flex flex-col gap-12 md:gap-20 md:py-28 md:px-16">
  <div class="flex flex-col gap-5">
    <h2 class="text-center text-4xl md:text-5xl">Decal Showcase</h2>
    <p class="text-center text-base md:text-lg">
      Explore our unique designs for your cards!
    </p>
  </div>
  <div
    class="grid grid-cols-1 justify-items-center gap-6 md:grid-cols-4 md:grid-rows-2 md:gap-8">
    <img
      class="object-cover md:w-full md:col-span-2 row-span-2"
      ngSrc="assets/images/designs/white-dots.png"
      alt="card"
      width="335"
      height="460" />

    <img
      class="object-cover md:w-full"
      ngSrc="assets/images/designs/astronauts.png"
      alt="card"
      width="335"
      height="460" />

    <img
      class="object-cover md:w-full"
      ngSrc="assets/images/designs/orange-space.png"
      alt="card"
      width="335"
      height="460" />

    <img
      class="object-cover md:w-full"
      ngSrc="assets/images/designs/orange-astronaut.png"
      alt="card"
      width="335"
      height="460" />

    <img
      class="object-cover md:w-full"
      ngSrc="assets/images/designs/purple-planets.png"
      alt="card"
      width="335"
      height="460" />
  </div>
</section>
