<section
  class="flex flex-col px-5 py-5 md:px-16 md:pb-32 md:pt-28 lg:flex-row xl:gap-64 text-extend-text-black">
  <div class="flex flex-col gap-6 lg:flex-1 lg:max-w-[35rem]">
    <h1 class="font-bold text-3xl md:text-4xl">
      Transform Your Card with Our Unique Personalized Decals
    </h1>
    <p class="text-base md:text-lg">
      At our company, we believe that your card should reflect your personality.
      Our wide range of customizable decals allows you to express yourself while
      enhancing the look of your credit or debit card.
    </p>
  </div>

  <div class="h-96 lg:flex-1 lg:min-h-[38rem]">
    <app-about-canvas />
  </div>
</section>
