<section
  id="cta-about-section"
  class="text-extend-text-black py-16 px-5 flex flex-col gap-6 md:text-4xl md:flex-row md:py-28 md:px-16 md:justify-between md:items-center">
  <div>
    <h2 class="font-bold text-3xl mb-2">Discover Your Perfect Card Design</h2>
    <p class="text-base md:text-lg">
      Explore our unique decals and elevate your card today!
    </p>
  </div>

  <div class="flex gap-4">
    <app-btn-primary
      [haveIcon]="true"
      [href]="'shop'"
      [isDark]="true"
      [text]="'Shop'" />
    <app-btn-secondary [href]="'contact'" [isDark]="true" [text]="'Contact'" />
  </div>
</section>
