<section
  id="cta-section"
  class="bg-extend-primary-900 text-extend-backgroud-300 py-16 px-5 flex flex-col gap-6 md:flex-row md:justify-between md:items-center md:py-28 md:px-16">
  <div class="md:flex-1 lg:flex-auto">
    <h2 class="font-bold text-3xl mb-3 md:text-4xl md:mb-6">
      Transform Your Card Today
    </h2>
    <p class="text-base md:text-lg">
      Discover unique designs that express your style.
    </p>
  </div>

  <div class="flex gap-4 md:flex-1 md:justify-end lg:flex-auto">
    <app-btn-primary
      [text]="'Shop'"
      [href]="'shop'"
      [isDark]="false"
      [haveIcon]="true"
      [isFill]="true" />

    <app-btn-secondary
      [href]="'about'"
      [isDark]="false"
      [text]="'Learn More'" />
  </div>
</section>
