/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Orkney';
    src: url(./assets/fonts/orkney/Orkney-Light.otf) format('opentype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Orkney';
    src: url(./assets/fonts/orkney/Orkney-Regular.otf) format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Orkney';
    src: url(./assets/fonts/orkney/Orkney-Medium.otf) format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Orkney';
    src: url(./assets/fonts/orkney/Orkney-Bold.otf) format('opentype');
    font-weight: 700;
  }

  html {
    font-family: 'Orkney', system-ui, sans-serif;
  }
}
